.all_posts {
}
.container {
    width: 1120px;
    padding: 0 20px;
    margin: 0 auto;
}
.all_posts_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}