.tabs-light {
    background-color: white;
}
.tabs-dark {
    background-color: #313037;
}
.tabs .container {
    padding: 0 40px 0 0;
}
.tabs-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    margin-bottom: 48px;
}
.tabs-list-dark {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    
}