.favorites-posts {
    border-bottom: 1px solid rgba(218, 218, 218, 1);
    margin-bottom: 48px;
}
.favorites-posts:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.favorites-posts_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.favorites-posts_left {
    position: relative;
    overflow: hidden;
    width: 256px;
    height: 192px;
    margin-bottom: 48px;
}
.favorites-posts_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}
.favorites-posts_center {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 704px;
    margin-top: 24px;
}
.favorites-posts_center_top {}
.favorites-posts_text {
    margin-bottom: 24px;
}
.favorites-posts_title-light {
    font-size: 24px;
    font-weight: 700;
    color: #313037;
    font-family: "Bebas Neue";
    margin-bottom: 8px;
    cursor: pointer;
}
.favorites-posts_title-dark {
    font-size: 24px;
    font-weight: 700;
    color: white;
    font-family: "Bebas Neue";
    margin-bottom: 8px;
    cursor: pointer;
}
.favorites-posts_description {
    font-size: 16px;
    color: #A8A8A8;
    font-family: "Helios";
}
.favorites-posts_center_bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.favorites-posts_price-light {
    color: #313037;
    font-size: 24px;
    font-family: "Bebas Neue";
    font-weight: 700;
    margin-right: 187px;
}
.favorites-posts_price-dark {
    color: white;
    font-size: 24px;
    font-family: "Bebas Neue";
    font-weight: 700;
    margin-right: 187px;
}
.posts_stars {}
.posts_stars_styles {}
.favorites-posts_right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 56px;
    margin-top: 68px;
}
.favorites-posts_button {
    height: 56px;
    width: 56px;
    cursor: pointer;
}